*{
   margin: 0;
   padding: 0;
}

.contenedor{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   width: 100%;
   height: 100%;
}

.centro{
   max-width: 320px;
   width: 100%;
   box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, 0.2);
}
.centro .login{
   width: 100%;
   padding: 50px 30px;
   background-color: #5dc1b9;
   box-sizing: border-box;
}

.centro .cab img{
   width: 100%;
   height: 170px;
   display: block;
}

.centro .login .titulo{
   color: #fff;
   margin-bottom: 20px;
   text-align: center;
   font-size: 2.5rem;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.centro .login .pieForm a{
   color: #fff;
   text-decoration: none;
   display: block;
   text-align: center;
   margin-bottom: 7px;
   }

.contenedor input{
   display: block;
   border: none;
   height: 40px;
   margin-bottom: 10px;
   width: 100%;
   padding: 5px 5px 5px 10px;
   box-sizing: border-box;
   border-radius: 3px;
   outline: none;
}

.contenedor input[type='button']{
   color: #fff;
   font-weight: bold;
   background-color: rgb(251 69 69);
   cursor: pointer;
   border-radius: 30px;
}

.contenedor input[type='button']:hover{
   background-color: #8f1010;
}

.centro .footer{
   text-align: center;
   padding: 10px 0;
   background-color: #55bab1;
}

.centro .footer a{
   color: #fff;
   text-decoration: none;
   display: block;
   text-align: center;
   margin-bottom: 7px;
}

#recuperarPass{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: 100vh;
   text-align: center;
   background-color: rgb(107, 133, 140);
   color: rgb(255, 253, 253);
}
#recuperarPass img{
   width: 400px;
   height: 400px;
}

#recuperarPass a{
   text-decoration: none;
   color: #8f1010;
}

.inicio{
   display: inline-block;
   color: #fff;
   width: 100px;
   height: 40px;
   background-color: rgb(58, 100, 118);
   margin-top: 10px;
   border: none;
}

.inicio a{
   color: #fff !important;
   font-weight: bold;
}